<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grofers_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrofersApp">
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LocationDetails" />
        <activity android:name=".Custom_popup" />
        <activity android:name=".Share_Activity" />
        <activity android:name=".Gobd_Sale" />
        <activity android:name=".My_Inaam" />
        <activity android:name=".My_Notification" />
        <activity android:name=".ProductCart_Activity" />
        <activity android:name=".PaymentOptionActivity" />
        <activity android:name=".SavedWhereYouWantAddress" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".WinWin" />
        <activity android:name=".Refer_your_friend" />
        <activity android:name=".websites" />
        <activity android:name=".Offer_Zone" />
        <activity android:name=".MyWallet" />
        <activity android:name=".Login" />
        <activity android:name=".LocationPermission" />
        <activity android:name=".supermarket_Vs_grofers" />
        <activity android:name=".Home_Activity" />
        <activity android:name=".DiscountFragments.DicountMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>